body {
	background: #333;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
}

.game-container {
	outline: 1px solid #fff;
	width: translateX(100%);
	height: translateY(100%);
	margin: 0 auto;
	line-height: 0px;
	padding: 2px;
	transform: scale(1);
}

.game-container canvas {
	image-rendering: pixelated;
}